body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3em;
}

h1 {
  color: #00979D;
}

li {
  padding: 5px 0;
}

#header-container {
  margin: 0 0 50px 0;
  background-color: #00979D;
}

header {
  margin: 0 auto;
  max-width: 700px;
}

header h1 {
  color: #FFF;
  margin: 0;
  padding: 30px 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
  padding: 0;
}

header li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

header a:hover:not(.selected) {
  background-color: #008184;
}

header .selected {
  background-color: #008184;
}

#github-banner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#content-container {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 700px;
}

#nav {
  list-style-type: none;
  padding: 0;
}

#nav li {
  padding: 2px 0 0 0;
}

#nav a, #langs a {
  color: blue;
  text-decoration: none;
}

#nav a:hover, #langs a:hover {
  text-decoration: underline;
}

#nav a:visited, #langs a:visited {
  color: blue;
}

.small-text {
  font-size: .8em;
}

.component {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
