body {
  background-color: #ECECEC;
}

#content-container {
  margin: 0 auto;
  max-width: 700px;
}

#nav {
  list-style-type: none;
  padding: 0;
}

#nav li {
  padding-top: 2px;
}

#nav a {
  color: blue;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a:visited {
  color: blue;
}

.component {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
